html {
    height: 100%;
}

table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em;
}

table{
    margin-top: 1em;
}

main {
    width: 100%;
    padding: 2em;
}

#mainContent {
    flex: 1;
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffea;
}

header {
    text-align: center;
    font-size: 2em;
    padding-bottom: 7px;
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
    text-align: center;
}

nav {
    padding-right: 2em;
    height: 100%;
    border-right: 2px solid black;
    width: max-content;
}

li {
    white-space: nowrap;
}

li.viewSwitcher:hover {
    text-decoration: underline;
    cursor: pointer;
}

.progress-bar {
    border: 1px solid black;
    height: 1em;
    background-color: white;
    box-shadow: 0px 0px 2px inset;
}

.progress-bar-content {
    height: 100%;
    width: 0%;
    background-color: #999946;
}


/* regression scatter matrix */
svg {
    font: 10px sans-serif;
    padding: 10px;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}
/* statistics page */
main#main4 .content_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

button#statisticsRefresh {
    flex-basis: 100%;
}
b#statisticsError {
    flex-basis: 100%;
    margin: 30px;
}
.statistics_tables {
    flex: 45% 1 1;
    max-width: 440px;
}

div#scatter_matrix {
    flex: 45% 1 1;
    display: flex;
}
div#scatter_matrix svg {
    margin-left: auto;
}

#coeficcients {
    margin-bottom: 50px;
}